@media (max-width: $width-screen-tablet - 1px) {
  .no-js {
    .link__header {
      font-size: rem(16px);
      line-height: rem(32px);
    }

    .page-header__nav-button {
      display: none;
    }

    .page-header__wrapper {
      display: block;
    }

    .page-header__nav {
      display: block;
    }

    .page-header__nav-list {
      display: block;
      margin-top: rem(25px);
      margin-left: rem(5px);
    }

    .page-header__nav-item {
      display: block;
      margin: rem(15px) 0;
    }

    .page-header__nav-item:not(:last-child) {
      padding-right: 0;
    }

    .jumbotron__wrapper {
      padding-top: rem(175px);
    }

    .page-header--pets {
      position: absolute;
      min-height: rem(260px);
      padding-bottom: 0px;
    }

    .pets__slideshow {
      min-height: auto;
    }

    .slideshow__button {
      display: none;
    }

    .select__wrapper {
      padding-top: rem(180px);
    }

    .pagination {
      display: none;
    }
  }
}
