:root {
  --color-black: #000000;
  --color-light-s: #fafafa;
  --color-light-l: #f6f6f6;
  --color-light-xl: #ffffff;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-dark-3xl-transparent: rgba(41, 41, 41, 0.6);
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-gradient-backup: #3d342f;
  --start-screen-gradient-background: url("./../../assets/noise_transparent.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  --footer-gradient-background: url("./../../assets/noise_transparent.png"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

$width-screen-desktop: 1280px;
$width-screen-tablet: 768px;
$width-screen-mobile: 320px;

$width-content-desktop: 1200px;
$width-content-tablet: 708px;
$width-content-mobile: 300px;
