.about {
  padding: rem(80px) 0 rem(100px);
}

.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about__picture {
  width: rem(300px);
  margin-right: rem(120px);
}

.about__text-wrapper {
  width: rem(430px);
  margin-top: rem(15px);
}

.about__heading {
  max-width: rem(370px);
}

.about__text {
  margin-top: rem(24.5px);
}

@media (max-width: $width-screen-desktop - 1px) {
  .about__wrapper {
    flex-direction: column-reverse;
  }

  .about__text-wrapper {
    margin: 0 auto;
    max-width: rem(437px);
  }

  .about__heading {
    margin-top: rem(1px);
  }

  .about__text {
    margin-top: rem(24.5px);
  }

  .about__picture {
    margin: rem(80px) auto 0;
  }
}

@media (max-width: $width-screen-tablet - 1px) {
  .about {
    padding: rem(42px) 0;
  }

  .about__text-wrapper {
    width: rem(270px);
  }

  .about__heading {
    text-align: center;
    margin: 0;
    margin-bottom: rem(25px);
  }

  .about__text {
    width: rem(270px);
    margin-top: rem(22px);
    text-align: justify;
  }

  .about__picture {
    margin-top: rem(41px);
    max-width: rem(260px);
  }
}
