.help {
  padding: rem(80px) 0 rem(45px);
}

.help__heading {
  margin-top: rem(1px);
  margin-left: rem(2px);
  text-align: center;
}

.help__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: rem(59px);
  margin-left: 1px;
  list-style: none;
}

.help__need {
  padding: 0 rem(60px) rem(56px);
  box-sizing: content-box;
  text-align: center;
}

.help__need-image {
  display: block;
  margin: 0 auto;
}

.help__need-heading {
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: $width-screen-desktop - 1px) {
  .help__list {
    padding-top: rem(59px);
  }

  .help__need {
    width: rem(170px);
    padding: 0 rem(30px) rem(56px);
    box-sizing: content-box;
  }
}

@media (max-width: $width-screen-tablet - 1px) {
  .help {
    padding: rem(41px) 0 rem(12px);
  }

  .help__list {
    width: rem(290px);
    margin: 0 auto;
    justify-content: space-between;
    padding-top: rem(42px);
  }

  .help__need {
    width: rem(130px);
    padding: 0 0 rem(30px);
  }

  .help__need-image {
    width: rem(50px);
    height: rem(50px);
  }

  .help__need-heading {
    margin-top: rem(21px);
  }
}
